<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring
       http://camel.apache.org/schema/spring/camel-spring.xsd">

    <camelContext id="camelContext" trace="true" xmlns="http://camel.apache.org/schema/spring">
        <route>
            <from uri="direct:in"/>
            <to uri="channelAdapter" />
            <to uri="socketSender" />
            <to uri="outProcessor" />
        </route>
    </camelContext>

    <bean id="channelAdapter" class="com.epam.darafeyeu.ChannelAdapter" />
    <bean id="socketSender" class="com.epam.darafeyeu.SocketSender" />
    <bean id="outProcessor" class="com.epam.darafeyeu.OutProcessor" />

</beans>